:root {
  font-size: 16px;

  /* Font sizes */
  --fg-color: #1a1a1a;
  --product-button-color: #3f58a2;

  /* Colors */
  --large-title: 3rem;
  --medium-large-title: 2.5rem;
  --medium-title: 1.85rem;

  /*Body outline*/
  --body-outline-width: 0px;

  color: var(--fg-color);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

body {
  scroll-behavior: smooth;
}