.main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}

/*Footer*/

.appFooter_container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}

.appFooter {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 1.5rem;
}

.appFooter_linksContainer {
  max-width: 1440px;
  display: flex;
  gap: 1.5rem;
}

.appFooter_link {
  color: var(--fg-color);
}

.appFooter_link:hover {
  text-decoration: none;
}

/* Nav component*/

.nav {
  width: 100%;
  max-width: 1440px;
  height: 5rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_logoContainer {
  width: 7rem;
  height: 100%;
  padding-top: 1.5rem;
}

.nav_logo {
  width: 100%;
  height: auto;
}

.nav_itemsContainer {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav_item {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
  color: var(--fg-color);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-thickness: 2px;
  transition: text-underline-offset ease-in-out 150ms, text-decoration-color ease-in-out 150ms;
}

.nav_item:hover,
.nav_item:focus {
  text-decoration-color: rgba(0, 0, 0, 1);
  text-underline-offset: 3px;
}

.nav_item_icon {
  font-size: 1rem;
  transition: all ease-in-out 150ms;
}

.nav_item:hover .nav_item_icon,
.nav_item:focus .nav_item_icon {
  scale: 1.15;
  rotate: 15deg;
}

/*Home Header component*/

.homeHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  text-align: center;
}

.homeHeader_contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: calc(100vh - 5rem);
  min-height: calc(100dvh - 5rem);
}

.homeHeader_title {
  font-weight: 400;
  width: 100%;
  max-width: 860px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-size: var(--large-title);
}

.homeHeader_illustrationContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 1;
}

.homeHeader_teaCupContainer {
  display: inline-block;
  position: relative;
  left: -2rem;
  width: 20rem;
  height: 20rem;
  text-align: left;
}

.homeHeader_teaCupImage {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.homeHeader_teaBoxContainer {
  display: inline-block;
  position: relative;
  left: 2rem;
  width: 25rem;
  height: 20rem;
  text-align: left;
}

.homeHeader_teaBoxImage {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.homeHeader_teaCupColor {
  mix-blend-mode: multiply;
  position: absolute;
  width: 72.3%;
  height: 72.3%;
  bottom: 7.56%;
  opacity: 0.2;
  left: 8.32%;
  border-radius: 50%;
  transition: opacity 5s ease-in-out;
}

.homeHeader_teaCupColor_animation {
  opacity: 1;
}

.homeHeader_linkContainer {
  position: relative;
  padding: 4rem 0;
  z-index: 1;
}

.homeHeader_link {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  scale: 1;
  transition: scale ease-in-out 150ms;
}

.homeHeader_link:hover {
  text-decoration: underline;
  scale: 1.1;
}

.homeHeader_blDecorContainer,
.homeHeader_brDecorContainer {
  width: 45%;
  max-width: 20rem;
  height: 20rem;
  position: absolute;
  bottom: 0.5rem;
  z-index: 0;
}

.homeHeader_blDecorContainer {
  left: 0.5rem
}

.homeHeader_brDecorContainer {
  right: 0.5rem;
}

.homeHeader_decorImage {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(2rem);
  transition: all ease-in-out 0.5s;
}

.homeHeader_decorImage_animation {
  opacity: 1;
  transform: translateY(0);
}

/*ProductsList component*/

.products_container {
  padding: 4rem 1rem 3rem 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.products_mainTitle {
  text-align: center;
  margin: 0;
  padding: 2rem 1rem;
  font-size: var(--medium-large-title);
  font-weight: 600;
}

.products_listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/*ProductItem component*/
.productItem_container {
  background-color: #f5f6fa;
  border: 1px solid #ececec;
  border-radius: 1rem;
  padding: 1rem;
  flex-basis: calc(33.3333% - 0.67rem);
}

.productItem_title {
  font-size: var(--medium-title);
  font-weight: 500;
  color: var(--fg-color);
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.productItem_imageContainer {
  position: relative;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productItem_image {
  width: 90%;
  height: auto;
}

.productItem_linkContainer {
  padding: 1rem 0;
  text-align: center;
}

.productItem_link {
  display: inline-block;
  font-size: 1.35rem;
  color: #ffffff;
  background-color: var(--product-button-color);
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  transition: all ease-in-out 150ms;
}

.productItem_link:hover {
  text-decoration: underline;
  scale: 1.1;
}


/*ProductHeader component*/
.productHeader {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.productHeader_leftCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  min-height: 20rem;
  padding: 2rem;
  text-align: center;
}

.productHeader_rightCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
  background-color: #f5f5f5;
}

.productHeader_image {
  width: 90%;
  max-width: 520px;
  height: auto;
}

.productHeader_title {
  font-weight: 400;
  font-size: var(--medium-large-title);
}

/*add product items*/
.addProduct_quantityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
}

.addProduct_quantityNumber {
  padding: 0.15rem 0.75rem;
  border: 1px solid #cecece;
  background-color: #ececec;
  border-radius: 5px;
  font-weight: 600;
}

.addProduct_quantityBtns_container {
  padding-left: 1rem;
  display: flex;
  gap: 0.25rem;
}

.addProduct_quantityBtn {
  padding: 0.15rem 0.75rem;
  background-color: white;
  border: 1px solid #cecece;
  font-size: 1.75rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color ease-in-out 150ms;
}

.addProduct_quantityBtn:hover {
  background-color: var(--hover-quantity-btn);
}

.addProduct_btn {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: scale ease-in-out 150ms;
}

.addProduct_btn:hover {
  scale: 1.1;
}


/*TeaCupFront component*/
.teaCupFront {
  position: relative;
  display: inline-block;
  width: 95%;
  max-width: 20rem;
  margin-top: 1.5rem;
}

.teaCupFront_image {
  width: 100%;
  height: auto;
}

.teaCupFront_liquidShape {
  display: inline-block;
  width: 68.74%;
  height: auto;
  position: absolute;
  left: 4.52%;
  bottom: 8.25%;
  mix-blend-mode: multiply;
}

.teaCupFront_liquidShapeContainer {
  mix-blend-mode: multiply;
  transition: opacity ease-in-out 5000ms;
  opacity: 0;
}

.teaCupFront_liquidShapeContainer_show {
  opacity: 1;
}

.teaCupFront_label {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  background-color: #ececec;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
}


/*ProductsCarousel component*/
.productsCarousel_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem 2rem;
}

.productsCarousel_title {
  position: relative;
  top: 0;
  left: 0;
  padding: 1rem 0;
  font-weight: 400;
  font-size: var(--medium-title);
  z-index: 0;
}

/*ShoppingCartButton component*/
.shoppingCart_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
}

.shoppingCart_button:hover,
.shoppingCart_button:focus {
  background-color: #f0f2fc;
}

.shoppingCart_button_icon {
  color: var(--fg-color);
  position: relative;
  right: 2px;
}

.shoppingCart_button_counter {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.52rem;
  right: 0.2rem;
  background-color: var(--product-button-color);
  color: white;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  z-index: 1;
}


/*ShoppingCartModal component*/
.shoppingCart_modalContainer {
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  backdrop-filter: blur(3px);
  z-index: 10;
}

.shoppingCart_modalBox {
  position: relative;
  width: 95%;
  min-height: 50vh;
  min-height: 50dvh;
  max-height: 95%;
  max-width: 1024px;
  overflow: auto;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 21px rgba(0, 0, 0, 0.15);
}

.shoppingCart_modalBox_closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #dedede;
  cursor: pointer;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.shoppingCart_modalBox_closeBtn:hover,
.shoppingCart_modalBox_closeBtn:focus {
  background-color: #dedede;
}

.shoppingCart_modalBox_titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem 2rem 1rem;
}

.shoppingCart_modalBox_titleIcon {
  width: 3rem;
  height: 3rem;
  background-color: var(--product-button-color);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoppingCart_modalBox_title {
  font-size: var(--medium-large-title);
  font-weight: 400;
  margin: 0;
}

.shoppingCart_modalBox_itemsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 15rem;
}

.shoppingCart_modalBox_noItemsContainer {
  padding: 2.5rem 1rem;
  background-color: #f0f2fc;
  border-radius: 5px;
}

.shoppingCart_modalBox_noItemsTitle {
  font-size: var(--medium-title);
  color: #343434;
  margin: 0;
  text-align: center;
}

.shoppingCart_modalBox_iconX {
  width: 1.5rem;
  pointer-events: none;
}

.shoppingCart_modalBox_totalContainer {
  padding: 1rem;
}

.shoppingCart_modalBox_totalTitle {
  font-size: var(--medium-title);
  margin: 0;
}

/*ShoppingCartItem component*/
.shoppingCart_itemContainer {
  position: relative;
  width: 95%;
  text-align: center;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #cecece;
  border-radius: 10px;
}

.shoppingCart_itemImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  min-height: 10rem;
  flex-basis: 10rem;
}

.shoppingCart_itemCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 25px;
  height: 25px;
  font-size: 16px;
  background-color: var(--product-button-color);
  color: white;
  border-radius: 50%;
  z-index: 1;
}

.shoppingCart_itemImage_long {
  width: 10rem;
  height: auto;
}

.shoppingCart_itemImage_tall {
  width: auto;
  height: 10rem;
}

.shoppingCart_itemSeparator {
  flex-basis: 3px;
  height: 7rem;
  background-color: #cecece;
  border-radius: 2px;
}

.shoppingCart_itemTitleAndValuesContainer {
  flex-basis: calc(60% - 1px - 5rem - 1rem);
  padding: 0.5rem;
}

.shoppingCart_itemTitle {
  font-size: var(--medium-title);
  font-weight: 400;
  color: var(--fg-color);
}

.shoppingCart_itemValues {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555555;
}

.shoppingCart_itemEqualLabel {
  font-size: 2rem;
  font-weight: 600;
  color: #555555;
}

.shoppingCart_itemTotalContainer {
  flex-basis: calc(40% - 1px - 5rem - 1rem);
}

.shoppingCart_itemTotalLabel {
  font-size: 2rem;
  font-weight: 600;
  color: var(--fg-color);
}

.shoppingCart_itemRemoveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #cecece;
  background-color: transparent;
}

.shoppingCart_itemRemoveBtn:hover,
.shoppingCart_itemRemoveBtn:focus {
  background-color: #ffcdcd;
}


/*Results page styles*/
.resultsContainer {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  min-height: 90vh;
}

.resultsItemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 1rem;
}

.resultsItem {
  flex-basis: calc(33.3% - 1rem);
  padding: 1rem;
  border: 1px solid #cecece;
  background-color: #f0f2fc;
  border-radius: 10px;
}

.resultsItem_clickedLabel {
  display: inline-block;
  font-weight: 400;
}

.resultsItem_count {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
}


/*Privacy policy page*/
.docContainer {
  width: 95%;
  max-width: 720px;
  margin: 0 auto;
  min-height: 80vh;
}

.docContainer p {
  padding: 1rem;
}

@media (min-width: 1921px) {
  .main {
    border-left: 2px solid #cecece;
    border-right: 2px solid #cecece;
  }

  .appFooter_container {
    border-left: 2px solid #cecece;
    border-right: 2px solid #cecece;
  }
}


@media (max-width: 780px) {
  .homeHeader_teaCupContainer {
    width: 15rem;
    height: 15rem;
  }

  .homeHeader_teaBoxContainer {
    width: 20rem;
    height: 15rem;
  }

  .productItem_container {
    flex-basis: calc(50% - 0.67rem);
  }

  .productHeader {
    flex-direction: column-reverse;
  }

  .productHeader_image {
    width: 80%;
  }

  .resultsItem {
    flex-basis: calc(50% - 1rem);
  }
}

@media (max-width: 580px) {
  .shoppingCart_itemContainer {
    flex-direction: column;
  }

  .shoppingCart_itemSeparator {
    height: 2px;
    width: 90%;
    flex-basis: 2px;
  }
}

@media (max-width: 420px) {
  .homeHeader_teaCupContainer {
    width: 14rem;
    height: 14rem;
  }

  .homeHeader_teaBoxContainer {
    width: 19rem;
    height: 14rem;
  }

  .productItem_container {
    flex-basis: 100%;
  }

  .productItem_image {
    width: 70%;
    height: auto;
  }

  .productHeader_image {
    width: 90%;
  }

  .shoppingCart_itemRemoveBtn {
    width: 2.4rem;
    height: 2.4rem;
  }

  .resultsItem {
    flex-basis: calc(100% - 1rem);
  }
}